<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	 <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/script.js"></script>

	<title>Location</title>
</head>
<body>
	<h1 id="addressHeader" class={{id}}>Where are we looking into?</h1>

	<p>A note about addresses -- the API behind this site is pretty good at what it does, but make sure your address is in standard Postal format.</p>
	<form action="query" method ="GET" id="queryFormAdd">

		<label for="address">Address</label>
		<input placeholder="10 E 21st St, New York, NY 10010" name="address" id="addressInput" type="text">
		<br>
		<button type="submit">Use this address</button>
	</form>	
</body>
</html>