<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	 <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/script.js"></script>

	<title>Dates</title>
</head>
<body>
	<h1 id="dateHeader" class={{id}}>What dates are we looking for?</h1>

	<form action="queryFormDate" method ="GET" id="queryFormDate">
		<label for="startDate">Date</label>
		<input name="startDate" id="startDateInput" type="date">
		<br>
<!-- 		<label for="endDate">End Date</label>
		<input name="endDate" id="endDateInput" type="date">
		<br> -->
		
		<button type="submit">Use these dates</button>
	</form>	
	
</body>
</html>