<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	 <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/script.js"></script>

	<title>Data retrieved</title>
</head>
<body>
	<h1>How did you do?</h1>
	<p>There were {{counter}} perfect days out of {{length}} checked</p>
	<p>These were the average conditions for {{address}}</p>
	{{#results}}
	<ul>
		<li>High Temperature: {{hiTemp}} F</li>
		<li>Low Temperature: {{loTemp}} F</li>
		<li>Rain accumulation: {{precip}}"</li>
		<li>Humidity: {{humidity}}%</li>
		<li>Cloud Cover: {{cloudCover}}</li>
	</ul>
	{{/results}}
<a href="/climate">Home</a>
	
</body>
</html>