<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	 <link rel="stylesheet" href="/style.css">
	 <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Indie+Flower|Ribeye+Marrow|Modak" rel="stylesheet">
    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/script.js"></script>

	<title>Data retrieved</title>
</head>
<body>
	<div id="container">
	<h1>Results are in!</h1>
	<h3>{{address1}}</h3>
	<p>There were {{counter1}} perfect days out of {{length}} checked</p>
	<p>These were the average conditions:</p>
	{{#results1}}
	<ul>
		<li>High Temperature: {{hiTemp}} F</li>
		<li>Low Temperature: {{loTemp}} F</li>
		
	</ul>
	{{/results1}}
		<h3>{{address2}}</h3>
	<p>There were {{counter2}} perfect days out of {{length}} checked</p>
	<p>These were the average conditions:</p>
	{{#results2}}
	<ul>
		<li>High Temperature: {{hiTemp}} F</li>
		<li>Low Temperature: {{loTemp}} F</li>
		
	</ul>
	{{/results2}}
		<h3>{{address3}}</h3>
	<p>There were {{counter3}} perfect days out of {{length}} checked</p>
	<p>These were the average conditions:</p>
	{{#results3}}
	<ul>
		<li>High Temperature: {{hiTemp}} F</li>
		<li>Low Temperature: {{loTemp}} F</li>
	
	</ul>
	{{/results3}}
		<h3>{{address4}}</h3>
	<p>There were {{counter4}} perfect days out of {{length}} checked</p>
	<p>These were the average conditions:</p>
	{{#results4}}
	<ul>
		<li>High Temperature: {{hiTemp}} F</li>
		<li>Low Temperature: {{loTemp}} F</li>
	</ul>
	{{/results4}}
<a href="/climate">Home</a>
	</div>
</body>
</html>