<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	 <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/script.js"></script>

	<title>Data retrieved</title>
</head>
<body>
	<h1>Average conditions</h1>
	<p>These are the average conditions for the __place__ during __time__</p>
	{{#results}}
	<ul>
		<li>High Temperature: {{hiTemp}} F</li>
		<li>Low Temperature: {{lowTemp}} F</li>
		<li>Rain accumulation: {{precip}}"</li>
		<li>Humidity: {{humidity}}%</li>
		<li>Cloud Cover: {{cloudCover}}</li>
	</ul>
	{{/results}}
	<button id="filterResults">But how many days were perfect?</button>
	
</body>
</html>