<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	 <link rel="stylesheet" href="/style.css">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Indie+Flower|Ribeye+Marrow|Modak" rel="stylesheet">
    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/script.js"></script>

	<title>Dates</title>
</head>
<body>
	<div id="container">
	<h1 id="dateHeader" class={{id}}>What dates are we looking for?</h1>

	<form action="queryFormDate" method ="GET" id="queryFormDate">
		<label for="startDate">Date</label>
		<input name="startDate" id="startDateInput" type="date">
		<br>
		<label for="endDate">End Date</label>
		<input name="endDate" id="endDateInput" type="date">
		<br>
		
		<button type="submit">Use these dates</button>
	</form>	
	</div>
	<footer>
		<a href="https://darksky.net/poweredby/">powered by dark sky</a>
	</footer>
</body>
</html>