<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
   <link rel="stylesheet" href="/style.css">
   <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Indie+Flower|Ribeye+Marrow|Modak" rel="stylesheet">
    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/script.js"></script>

  <title>Perfect Day</title>
  <body>
  <div id="container">
    <h1>perfect day</h1>
    <form action="new" method="POST">
      <label for="email">Email</label>
      <input id="email" type="text" name="user[email]" placeholder="email"><br>

      <label for="password">Password</label>
      <input id="password" type="password" name="user[password]" placeholder="password"><br>

      <button type="submit" value="Sign Up">sign up</button>
    </form>
  </div>
</body>
</html>
