<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	 <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/script.js"></script>

	<title>Query Parameters</title>
</head>
<body>
	<h1>When and Where?</h1>
	<form id="queryForm">
		<label for="startDate">Start Date</label>
		<input name="startDate" id="startDate" type="date">
		<br>
		<label for="endDate">End Date</label>
		<input name="endDate" id="endDate" type="date">
		<br>
		<label for="zipcode">Zip Code(s)</label>
		<input placeholder="10010" name="zipcode" id="zipcode" type="text">
		<br>
		<input placeholder="Optional" name="zipcode" id="zipcode" type="text">
		<br>
		<input placeholder="Optional" name="zipcode" id="zipcode" type="text">
		<br>
		<input placeholder="Optional" name="zipcode" id="zipcode" type="text">
		<br>
		<input placeholder="Optional" name="zipcode" id="zipcode" type="text">
		<br>
		<input placeholder="Optional" name="zipcode" id="zipcode" type="text">
		<br>
	
</body>
</html>