<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	 <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/script.js"></script>

	<title>Perfect Day</title>
</head>
<body>
	<div>
      <h1 class="">Perfect Day</h1>
      <p>Welcome!  Perfect Day is a climate information app.</p>
      <form action="users/login" method="post">
        <input placeholder="username" name="user[email]" type="text">
        <input placeholder="password" name="user[password]" type="text">
        <input type="submit" value="Login">
      </form>

      <div class="text-center">
        <a href="users/new"><small>Sign Up</small></a>
      </div>
    </div>
</body> 
</html>